.about-section{
	padding: 80px 0 20px;
	min-height: 430px;
	position: relative;
	z-index: 3;

	.bullets{
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
	}

	.section-inner{
		display: flex;
	}

	.section-content{
		width: calc(50% - 15px);
		margin-right: 45px;
	}

	.section-image{
		width: calc(50% - 15px);
		pointer-events: none;

		img{
			display: block;
			height: auto;
			width: calc(100% + 210px);
			margin-right: -210px;
			margin-top: -178px;
			margin-bottom: -189px;
		}
	}

	.section-caption{
		margin-bottom: 46px;
		text-align: left;
	}

	.section-text{
		font-size: 24px;

		strong,
		a{
			font-weight: 800;
			color: $primary;
		}

		a:hover{
			color: $accent;
		}
	}

	@media screen and (max-width: 1199px){
		min-height: unset;

		.section-text{
			font-size: 22px;
		}
	}

	@media screen and (max-width: 1399px) and (min-width: 1200px){
		.section-image{
			width: auto;
			margin-left: 60px;
		}
	}

	@media screen and (max-width: 1199px) and (min-width: 992px){
		.section-image{
			width: auto;
			margin-left: 0;
		}
	}

	@media screen and (max-width: 1659px){
		.section-image{
			img{
				width: calc(100% + 210px);
				margin-right: -210px;
				max-width: 500px;
				margin-bottom: -100%;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding-top: 130px;
		padding-bottom: 290px;

		.section-inner{
			position: relative;
		}

		.section-content{
			width: 485px;
		}

		.section-image{
			position: absolute;
			top: -30px;
			left: 250px;

			img{
				margin: 0;
			}
		}
	}

	@media screen and (max-width: 767px){
		text-align: center;
		padding: 80px 0 0;

		.section-inner{
			flex-direction: column;
			align-items: center;
		}

		.section-content{
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}

		.section-image{
			position: static;
			width: calc(100% - 15px * 2);
			margin-left: auto;
			margin-right: auto;

			img{
				width: 100%;
			}
		}

		.section-caption{
			margin-bottom: 25px;

			.sc-title{
				text-align: center;
			}
		}

		.section-text{
			font-size: 14px;
			line-height: 23px;
		}

		.bullets{
			left: calc(50% + 20px);
			top: 25px;
		}
	}

	@media screen and (max-width: 469px){
		// padding-top: 0;
	}
}